<br><br><br><br><br>
<h1>You realy want to delete the planned event : DATA ?</h1>
<form>
    <div style="background-color: #3a86dd;" class="pt-1 mb-4">
        <!-- Ajouter la fonction delete-->
        <button type="button" class="btn btn-lg btn-block white-text" routerLink="/home"> <b>Yes, delete</b></button>
    </div>
    <div style="background-color: #3a86dd;" class="pt-1 mb-4">
        <button type="button" class="btn btn-lg btn-block white-text" routerLink="/home"> <b>No</b></button>
    
    </div>
</form>
