<div class="card text-center p-2 w3-round-xxlarge z-depth-3">
    <h2 class="text-warning letter-space">All my teams</h2>
    <br>
    <div class="col">

        <div class="p-3 mb-2">

            <div id="p1t">
                <div class="row">
                    <div class="col-sm-3" *ngFor="let team of teams">
                        <div class="card p-2 w3-round-xxlarge">
                            <p class="grey-text">{{team.name | uppercase}}</p>
                            <button class="btn btn-warning btn-sm w3-round-xxlarge">
                                Go to team
                            </button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="text-center">
            <button type="button" class="btn btn-secondary btn-sm w3-round-xlarge" (click)="goTeamCreatePup()">
                Create new team
            </button>
            <button type="button" routerLink="/profil-perso" class="btn btn-secondary btn-sm w3-round-xlarge">
                My information
            </button>
        </div>

    </div>

</div>
