<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1>
                    Email validation
                    <br><br>
                </h1>
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form2Example1" class="form-control" />
                        <label class="form-label" for="form2Example1">Code sent by email</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Confirm email</button>
                </form>
            </div>
        </div>
    </div>
</section>