<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1>
                    Email validation
                    <br><br>
                </h1>
                
                <form  #connect="ngForm" (ngSubmit)="validateMail(connect.value)" >
                    
                    <!-- email validation input -->
                    <div class="form-outline mb-4">
                        <input ngModel="" name="mail" type="email" id="" class="form-control" />
                        <label class="form-label" for="">confirm email</label>
                    </div>

                    <!-- code input -->
                    <div class="form-outline mb-4">
                        <input ngModel="" type="int" id="" name="codeVerif" class="form-control" />
                        <label class="form-label" for="form2Example1">Code sent by email</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" routerLink="/auth-user-home">Verify email</button>
                </form>
            </div>
        </div>
    </div>
</section>