<section class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1><b> USER </b></h1>
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">

                <img src="https://static.fnac-static.com/multimedia/Images/FR/MC/00/23/53/22225664/1540-1/tsp20140429182221/Figurine-Geante-Mickey-Mouse.jpg" />
    
                    <a href="#!">
    
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    
                    </a>
            </div>
            <p><i>Name : {{user.name}}</i></p>
            <p>Surname : {{user.surname}}</p>
            <p>Date fo birth : {{user.birthdate}}</p>
            
        </div>

        <div class="col-md-4">

            <h1><b> Past event </b></h1>

            <div class="card" height=3>

                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">


                    <img src="http://api.park-gorkogo.com/storage/gallery/145/regular_preview_picture-3c291bf33d4002b149ff55e671dd7bfc.jpg" class="img-fluid" />
        
                        <a href="#!">
        
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        
                        </a>

                </div>

                <div class="card-body">

                    <h5 class="card-title">Event XXX</h5>

                    <p class="card-text">Quick example</p>

                    <a href="#!" class="btn btn-primary">Information</a>

                </div>




            </div>
            



        </div>

        <div class="col-md-4">

        <div>
            <h1>My groups</h1>
            

                <p align="center">GRp 1</p>
            <form>
                <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                    <button type="button" class="btn btn-lg btn-block white-text" routerLink=""> <b>Check</b></button>
                </div>
            </form>
                <p align="center">GRp 2</p>
                <form>
                    <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                        <button type="button" class="btn btn-lg btn-block white-text" routerLink=""> <b>Check</b></button>
                    </div>
                </form>
                <p align="center"c>GRp 3</p>
                <form>
                    <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                        <button type="button" class="btn btn-lg btn-block white-text" routerLink=""> <b>Check</b></button>
                    </div>
                </form>
            
                
            

            




          






        </div>





        </div>
        
    



    </div>
<br>
    <div>
        <form>
            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                <button type="button" class="btn btn-lg btn-block white-text" routerLink="/edit-profil"> <b>Edit your profil</b></button>
            </div>
        </form>


    </div>




</section>