<section class="container" >

    <div class="card text-center p-2 w3-round-xxlarge z-depth-3" style="max-width: 18rem;" style="text-align: center;">
        <h1>{{event.title}}</h1>
    </div>

<br><br>
<div class="card mb-3">
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top" alt="Wild Landscape"/>
    <div class="card-body row">
        <div class="col-8" >
            <br><br>
            <h2 *ngIf="!this.isPublicCheck()">
                Private event
            </h2>
            <h2 *ngIf="this.isPublicCheck()">
                Public event
            </h2>
            <br>
            <p *ngIf="!auth.isConnect()"><br> <i>As you are not logged in, you only have access to part of the available
                    information</i><br>
                <button class="btn btn-primary">
                    Request to participate!
                </button>
            <p>
            <h3>Date : {{event.dateEvent}}</h3>
            <p *ngIf="auth.isConnect()">
            <h3> Location : {{event.locationEvent}}</h3>
            <div class="p-3 mb-2 bg-dark text-white">
                <h3>Description</h3> {{event.description}}
            </div>
            <a *ngIf="this.isOrganiserCheck()" class="nav-link" routerLink="/edit-my-event"
            routerLinkActive="lien-active">
            <button type="button" class="btn btn-secondary btn-md w3-round-xlarge">Edit my event</button>
            </a>
            <button type="button" (click)="goAddParticipantPup()" class="btn btn-secondary btn-md w3-round-xlarge">
                Gestion des participants
            </button>
            <button type="button" (click)="goAddVotePup()" class="btn btn-secondary btn-md w3-round-xlarge">
                Gestion des votes
            </button>
            <button type="button" (click)="goAddShoppingListPup()" class="btn btn-secondary btn-md w3-round-xlarge">
                Gestion des listes d'achats
            </button>
        </div>
        <div class="col" >
            <br><br>
            <h3>Organiser</h3>
            <ul>
                <li><b>{{event.organizer.name}} {{event.organizer.surname}}</b></li>
            </ul>
            <h3>Participants</h3>
            <div *ngIf="auth.isConnect()">
                <ul>
                    <li *ngFor="let participant of participants; let i = index">{{participants[i].user.name}}
                        {{participants[i].user.surname}}</li>
                </ul>
            </div>
        </div>
    </div>
  </div>


<!--
    <div class="row" class="card p-2 w3-round-xxlarge z-depth-3" >
        <div class="col" class="card text-center p-2 w3-round-xxlarge z-depth-3" >
            <br><br>
            <h2 *ngIf="!this.isPublicCheck()">
                Private event
            </h2>
            <h2 *ngIf="this.isPublicCheck()">
                Public event
            </h2>
            <br>
            <p *ngIf="!auth.isConnect()"><br> <i>As you are not logged in, you only have access to part of the available
                    information</i><br>
                <button class="btn btn-primary">
                    Request to participate!
                </button>
            <p>
            <h3>Date : {{event.dateEvent}}</h3>
            <p *ngIf="auth.isConnect()">
            <h3> Location : {{event.locationEvent}}</h3>
            <div class="p-3 mb-2 bg-dark text-white">
                <h3>Description</h3> {{event.description}}
            </div>
            <a *ngIf="this.isOrganiserCheck()" class="nav-link" routerLink="/edit-my-event"
            routerLinkActive="lien-active">
            <button type="button" class="btn btn-secondary btn-md w3-round-xlarge">Edit my event</button>
            </a>
            <button type="button" (click)="goAddParticipantPup()" class="btn btn-secondary btn-md w3-round-xlarge">
                Gestion des participants
            </button>
        </div>
        <div class="col" class="card text-center p-2 w3-round-xxlarge z-depth-3">
            <br><br>
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="http://api.park-gorkogo.com/storage/gallery/145/regular_preview_picture-3c291bf33d4002b149ff55e671dd7bfc.jpg"
                        class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{event.title}}</h5>
                </div>
        </div>
        <div class="col" class="card text-center p-2 w3-round-xxlarge z-depth-3">
            <br><br>
            <h3>Organiser</h3>
            <ul>
                <li><b>{{event.organizer.name}} {{event.organizer.surname}}</b></li>
            </ul>
            <h3>Participants</h3>
            <div *ngIf="auth.isConnect()">
                <ul>
                    <li *ngFor="let participant of participants; let i = index">{{participants[i].user.name}}
                        {{participants[i].user.surname}}</li>
                </ul>
            </div>
        </div>
    </div>
-->
</section>

<section class="container">
    <div class="p-3 mb-2 bg-dark text-white">
        <h3>Votes</h3><i>you can choose one or more options</i>
        <br>
        <br>
        <div *ngIf="!this.isParticipantCheck()&&!this.isOrganiserCheck()">
            As you are not participating in this event, you are not able to see the votes <br><br>
        </div>
        <div *ngIf="this.isParticipantCheck()||this.isOrganiserCheck()">
            <div class="row col-5" *ngFor="let vote of votes">
                <form class="px-4" action="">
                    <h4>{{vote.question}}</h4>
                    <div class="form-check" *ngFor="let answer of vote.answer">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            {{answer}}
                            <div>
                                
                            </div>
                        </label>
                    </div>
                </form>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-primary">Submit</button>
                    <button (click)="this.getAllAnswersOfVote(vote.id)" type="button" class="btn btn-primary">See votes</button>
                </div>
            </div>
        </div>
    </div>-->
</section>