<section class="container">
    <div class="row">
        <div class="col-sm-5">
            <h1> <br> <br> you've just accessed this public event !</h1>
            <p><br> <i>As you are not logged in, you only have access to part of the available information</i></p>

        </div>

        <div class="col-md-4">

            <br><br>

            <div class="card" height=3>

                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">


                    <img src="http://api.park-gorkogo.com/storage/gallery/145/regular_preview_picture-3c291bf33d4002b149ff55e671dd7bfc.jpg" class="img-fluid" />
        
                        <a href="#!">
        
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        
                        </a>

                </div>

                <div class="card-body">

                    <h5 class="card-title">Event XXX</h5>

                    <p class="card-text">Quick example</p>

                    <a href="#!" class="btn btn-primary">Request to participate!</a>

                </div>




            </div>
            



        </div>

        <div class="col-md-3">

            <br><br>

            <h4 >Liste des participants</h4>
            <div>
                <br>
                <p>Afficher la photo de profil des participants + Prenom</p>
                <br>
                <p>Afficher la photo de profil des participants + Prenom</p>
                <br>
                <p>Afficher la photo de profil des participants + Prenom</p>


            </div>

        </div>


        
    



    </div>




</section>