<section class="container">

    <br>


    <form class=" border border-light p-5" #edit="ngForm" (ngSubmit)="EditProfil()">
        <h1 align="center">You can now edit your profil !</h1>
        >

        <div class="form-row mb-4">

            <div class="col ">

                <div class="col">

                    <div *ngIf="mediaExist(this.currentUser.profilePic)">
                        <p>current image :</p>
                        <img [src]="changeFormatMedia(this.currentUser.profilePic)" width="50%" alt="profil picture">
                    </div>

                </div>
                <div class="col">
                    <div class="text-center">
                        <p>new image :</p>
                        <img ngiflogin='' [(ngModel)]="currentUser.profilePic" #loginAction="ngModel" [src]="mediaURL"
                            alt="imageURL" width="50%" *ngIf="mediaURL">
                    </div>
                    <input name="profilePic" type="file" [hidden]="true" #file accept="image/*"
                        (change)="onFileChanged($event)">
                    <button type="button" mat-icon-button class="btn btn-block" (click)="file.click()">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </button>

                </div>

                <br>
                <!--
                <div align="center" class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  
                


                    
                </div>
                -->

                <!-- Edit Login-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="login">Current login : <i>{{user.login}}</i></label>
                    <input ngiflogin='' [(ngModel)]="currentUser.login" #loginAction="ngModel" name="login" type="text"
                        class="form-control" placeholder="New login" required />
                </div>
                <!-- Edit mdp-->

                <label class="form-label" for="password">Password :</label>
                <div class="input-group-append form-outline mb-4">

                    <input ngifpassword='' [(ngModel)]="currentUser.password" #passwordAction="ngModel" name="password"
                        [type]="fieldTextType ? 'text' : 'password'" class="form-control" placeholder="New password"
                        required />
                    <span class="input-group-text">
                        <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"
                            (click)="toggleFieldTextType()"></i>
                    </span>
                </div>

                <!-- Edit mail-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current mail : <i>{{user.mail}}</i></label>
                    <input ngifmail='' [(ngModel)]="currentUser.mail" #mailAction="ngModel" name="mail" type="text"
                        class="form-control" placeholder="New mail" required />
                </div>

            </div>

            <div class="col">


                <!-- Edit name-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current name : <i>{{user.name}}</i></label>
                    <input ngifname='' [(ngModel)]="currentUser.name" #nameAction="ngModel" name="name" type="text"
                        class="form-control" placeholder="New name" required />
                </div>
                <!-- Edit surname-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current username : <i>{{user.surname}}</i></label>
                    <input ngiflsurname='' [(ngModel)]="currentUser.surname" #surnameAction="ngModel" name="surname"
                        type="text" class="form-control" placeholder="New surname" required />
                </div>
                <!-- Edit phone number-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current phone number : <i>{{user.phone}}</i></label>
                    <input ngifphone='' [(ngModel)]="currentUser.phone" #phoneAction="ngModel" name="phone" type="text"
                        class="form-control" placeholder="New phone number" required />
                </div>

                <!-- Edit zipcode-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current zipcode : <i>{{user.zipCode}}</i></label>
                    <input ngifzipCode='' [(ngModel)]="currentUser.zipCode" #zipCodeAction="ngModel" name="zipCode"
                        type="text" class="form-control" placeholder="New zipcode" required />
                </div>

            </div>

            <div class="col">

                <!-- Edit town-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current town : <i>{{user.town}}</i></label>
                    <input ngiftown='' [(ngModel)]="currentUser.town" #townAction="ngModel" name="town" type="text"
                        class="form-control" placeholder="New town" required />
                    <!-- Ici le placeholder n'est pas affiché -->
                </div>
                <!-- Edit description-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current description : <br><i>{{user.description}}</i></label>
                    <input ngifdescription='' [(ngModel)]="currentUser.description" #descriptionAction="ngModel"
                        name="description" type="text" class="form-control" placeholder="New description" required />
                </div>
                <!-- Edit birthday-->
                <div class="form-outline mb-4">
                    <label class="form-label" for="">Current birthdate : <i>{{user.birthDate}}</i></label>
                    <input ngifbirthDate='' [(ngModel)]="currentUser.birthDate" #birthDateAction="ngModel" name="age"
                        type="date" class="form-control" placeholder="Edit your birthday" required />
                </div>
                <!-- Edit profil publique / privé -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Public profil ? <i>{{user.isPublic}}</i></label>
                    <br>
                    <input ngifisPublic='' [(ngModel)]="currentUser.isPublic" #isPublicAction="ngModel" type="checkbox"
                        class="demo5" id="private" name="isPublic" value="false" ngModel="">
                    <label for="private">Switch</label>

                </div>
            </div>


        </div>

        <div>

            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                <button type="submit" class="btn btn-lg btn-block white-text"> <b>Edit</b></button>
            </div>

        </div>

    </form>

</section>