
<div >
  <nav class="navbar navbar-expand-md aqua-gradient py-4 mb-4 font-weight-bold z-depth-3" style="padding-top: 1rem !important; padding-bottom: 1rem !important; font-size: large;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" white-color routerLink="home" routerLinkActive="lien-active"
            *ngIf="!auth.isConnect()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="lien-active" *ngIf="!auth.isConnect()">Connection</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="events" routerLinkActive="lien-active" *ngIf="auth.isConnect()">
            Mes Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="teams" routerLinkActive="lien-active" *ngIf="auth.isConnect()">
            Mes Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-friendrequest" routerLinkActive="lien-active" *ngIf="auth.isConnect()">
            Mes Friends</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="profil-perso" routerLinkActive="lien-active" *ngIf="auth.isConnect()">My
            Profile</a> -->
            <button mat-mini-fab color="primary"  class=" nav-link for-mat-button" routerLink="profil-perso" *ngIf="auth.isConnect()">
              <mat-icon>account_circle</mat-icon>
            </button>
        </li>


      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" routerLink="auth-user-home"> <marquee behavior="alternate" scrollamount="2">Event Ease</marquee> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="auth.logout()" routerLinkActive="lien-active" style="color: tomato;"
            *ngIf="auth.isConnect()"><i class="fas fa-power-off"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text" *ngIf="auth.isConnect()">{{user.login}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>