<div class="container">
    <div class="card text-center p-2 w3-round-xxlarge z-depth-3">
        <h2 class="text-info letter-space">My events</h2>
        <br>
        <div class="col">
            <div>
                <nav class="nav nav-tabs justify-content-center">
                    <a class="nav-item nav-link active" href="#p1" data-toggle="tab">Organise</a>
                    <a class="nav-item nav-link" href="#p2" data-toggle="tab">Participate</a>
                </nav>
                <div class="p-3 mb-2">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="p1">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let event of events.slice(0, 4)">
                                    <div class="card p-2 w3-round-xxlarge">
                                        <div class="card-head">
                                            <p class="grey-text">{{event.title | uppercase}}</p>
                                        </div>
                                        <div class="card-body">
                                            <p>{{event.description}}</p>
                                            <a class="nav-link" routerLink="/event-public"
                                                routerLinkActive="lien-active">
                                                <button class="btn btn-primary btn-sm w3-round-xlarge"
                                                    (click)="eventDet.setEventId(event.id)">
                                                    Go to event
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="p2">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let eventP of eventsparticip.slice(0, 4)">
                                    <div class="card p-2 w3-round-xxlarge">
                                        <div class="card-head">
                                            <p class="grey-text">{{eventP.event.title | uppercase}}</p>
                                        </div>
                                        <div class="card-body">
                                            <p>{{eventP.event.description}}</p>
                                            <a class="nav-link" routerLink="/event-public"
                                                routerLinkActive="lien-active">
                                                <button class="btn btn-primary btn-sm w3-round-xlarge"
                                                    (click)="eventDet.setEventId(eventP.event.id)">
                                                    Go to event
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="text-center">
                        <button type="button" routerLink="all-my-events" class="btn btn-secondary btn-sm w3-round-xlarge">
                            See more events
                        </button>
                        <button type="button" routerLink="/event-creation" class="btn btn-secondary btn-sm w3-round-xlarge">
                            Create new event
                        </button>
                        <button type="button" routerLink="/profil-perso" class="btn btn-secondary btn-sm w3-round-xlarge">
                            My information
                        </button>
                        <button type="button" (click)="goAddParticipantPup()" class="btn btn-secondary btn-sm w3-round-xlarge">
                            Gestion des participants
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="card text-center p-2 w3-round-xxlarge z-depth-3">
        <h2 class="text-warning letter-space">My teams</h2>
        <br>
        <div class="col">

            <div class="p-3 mb-2">

                <div id="p1t">
                    <div class="row">
                        <div class="col-sm-3" *ngFor="let team of teams.slice(0, 4)">
                            <div class="card p-2 w3-round-xxlarge">
                                <p class="grey-text">{{team.name | uppercase}}</p>
                                <button class="btn btn-warning btn-sm w3-round-xxlarge">
                                    Go to team
                                </button>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="text-center">
                <button type="button" routerLink="all-my-teams" class="btn btn-secondary btn-sm w3-round-xlarge">
                    See more teams
                </button>
                <button type="button" class="btn btn-secondary btn-sm w3-round-xlarge" (click)="goTeamCreatePup()">
                    Create new team
                </button>
                <button type="button" routerLink="/profil-perso" class="btn btn-secondary btn-sm w3-round-xlarge">
                    My information
                </button>
            </div>

        </div>

    </div>
</div>


<br><br><br>