<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div>
                <h1><b>Ready to create your Group?<br><br></b> </h1>
            </div>

            <div class="col-md-12">

                <!-- Il reste à recuperer les info du createur -->
            <form #connect="ngForm" (ngSubmit)="CreateGroup(connect.value)">
                <div class="col-md-12">
                    <div class="form-outline mb-4 col-auto" > 
                        <label class="form-label" for="">Name*</label>
                        <input type="text" name="name" class="form-control col-auto" ngModel="" />
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <label for="addMember">Members : </label>
                            <div *ngFor='let member of members'>
                                <input name = "members" list="user" [attr.name]="member" id="members" ngModel="">
                                <datalist id="user"  [attr.name]="member">
                                    <option *ngFor="let user of alluser" [value]="user.login">{{user}}</option>
                                </datalist>
                            </div>
                            
                        </div>
                        <input type="button" class="btn btn-primary btn-sm "value="Add Member" (click)="addInputMember()">
                        <input type="button" class="btn btn-primary btn-sm "value="Remove Member" (click)="removeInputMember()">
                        <input type="button" class="btn btn-primary btn-sm "value="Remove All Member" (click)="removeInputAllMember()">
                        <input type="button" class="btn btn-primary btn-sm " value="Validate Member list" >
    
                    </div> -->


                    <div class="text-center">
                        <ejs-multiselect id='membres' [dataSource]='auth.users'
                           [placeholder]='msgInfo' name="membres" ngModel=""></ejs-multiselect>
                    </div>
                    <br>

                    </div>
                    


                    <!-- ABSENT DE LA BDD
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Chat*</label>
                        <br>
                        <input type="radio" id="admin only" name="chat" value="yes" ngModel="" checked>
                        <label for="ok">Admin only</label>
                        <input type="radio" id="anyone" name="chat" value="no"ngModel="" >
                        <label for="nok">Anyone</label>
                    </div>-->


                <div>
                    <button type="submit" class="btn btn-primary btn-block mb-4 ">
                        create
                    </button>
                    <br>
                    <p><i><small>* = Must be completed</small></i></p>
        
                </div>

            </form>

        </div>


        </div>












        









    </div>








</section>