<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1>
                    <b>CONNECTION <br><br></b>
                </h1>
                <div *ngIf="msgErr != ''" class="alert alert-danger text-center" >
                    {{msgErr}}
                </div>
                <form  #connect="ngForm" (ngSubmit)="connexion(connect.value)">
                    <!-- Email/login input -->
                    <div class="form-outline mb-4">
                        <input ngModel="" type="text" id="form2Example1" class="form-control" />
                        <label for="" class="form-label" for="form2Example1">Email address or login</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input for="" type="password" id="form2Example2" class="form-control" />
                        <label class="form-label" for="form2Example2">Password</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                                <label class="form-check-label" for="form2Example34"> Remember me </label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Simple link -->
                            <a class="nav-link" routerLink="/forgot-password">forgot password ?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <a routerLink="/home">test</a>
</div>