<section>
<div class="container ">
    <br>
    <div class="text-center">
        <img src="/assets/img/amis1.jpg" alt="" width="50%" style="opacity: 0.60;">
    </div>
    <h1><b><br>Friend Request<br><br></b> </h1>
    <div class="row ">
        <div class="col">
            <h2>Send a Friend Request</h2>
            <form #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                <label >Select the user* : </label>
                <label ></label><br/>
                    <select  name="receveur" class="form-control" ngModel="">
                        <option>Select</option>
                        <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                    </select>
                <label ></label><br/>
                <button type="submit" class="btn btn-primary btn-sm btn-block mb-4">
                    Send your Friend Request
                </button>
            </form>
        </div>
        <div class="col-6">
            <h2 style="text-align: center">My Friend Request</h2>
            <div class="row" *ngFor="let f of myfriendrequests">
                <div class="col-8">
                    <div  class="list-group row">
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">{{f.demandeur.name}} {{f.demandeur.surname}}</h5>
                            </div>
                            <small >{{f.demandeur.mail}}</small>
                        </a>
                    </div>
                </div>
                <div *ngIf="msgAppear != 'true'+f.id && 
                (msgAccept != 'Demande acceptée'+f.id || msgAccept != 'Demande refusée'+f.id)"  class="col">
                    <button type="button" class="btn btn-success btn-sm" (click)="AcceptFriendRequest(f)">Accept</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="RefuseFriendRequest(f)">Refuse</button>
                </div>
                <div *ngIf="msgAccept == 'Demande acceptée'+f.id" class="alert alert-success text-center col" >
                    {{msgAccept}}  
                </div>
                <div *ngIf="msgAccept == 'Demande refusée'+f.id" class="alert alert-danger text-center col" >
                    {{msgAccept}}
                </div>
            </div>
        </div>
        <div class= "col">
            <h2 style="text-align: center">My Friends</h2>
            <div *ngFor="let f of myfriends" class="list-group row">
                <a href="http://localhost:4200/user/{{f.id}}" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{f.demandeur.name}} {{f.demandeur.surname}}</h5>
                    </div>
                    <small >{{f.demandeur.mail}}</small>
                </a>
            </div>
        </div>
    </div>
</div>
</section>

<!-- 
<section>
<div class="container" class="brd">
<h1><b>Friend Request<br><br></b> </h1>
    <div  class="row" class="brd" class="brd">
        <div class="col" class="brd">
            <form class="col" #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                        <label >Select the user* : </label>
                        <label ></label><br/>
                            <select  name="receveur" class="col-md-4 form-control" ngModel="">
                                <option>Select</option>
                                <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                            </select>
                        <label ></label><br/>
                        <button type="submit" class="btn btn-primary btn-block mb-4 col-md-4">
                            Send your Friend Request
                        </button>
            </form>
        </div>
        <div class="col" class="brd">
            <form class="col" #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                <label >Select the user* : </label>
                <label ></label><br/>
                    <select  name="receveur" class="col-md-4 form-control" ngModel="">
                        <option>Select</option>
                        <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                    </select>
                <label ></label><br/>
                <button class="col-sm-4" type="submit" class="btn btn-primary btn-block mb-4 col-md-4">
                    Send your Friend Request
                </button>
            </form>
        </div>
    </div>
</div>
</section>
-->
