<section>
<div class="container brd">
    <h1><b>Friend Request<br><br></b> </h1>
    <div class="row brd">
        <div class="col brd">
            <h2>Send a Friend Request</h2>
            <form #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                <label >Select the user* : </label>
                <label ></label><br/>
                    <select  name="receveur" class="form-control" ngModel="">
                        <option>Select</option>
                        <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                    </select>
                <label ></label><br/>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Send your Friend Request
                </button>
    </form>
        </div>
        <div class="col brd">
            <h2>My Friend Request</h2>
            
        </div>
        <div class="col">
            <h2>My Friends</h2>
            <h5 *ngFor="let f of friendrequest" ngModel=""> {{f}}</h5>
        </div>
    </div>
</div>
</section>

<!-- 
<section>
<div class="container" class="brd">
<h1><b>Friend Request<br><br></b> </h1>
    <div  class="row" class="brd" class="brd">
        <div class="col" class="brd">
            <form class="col" #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                        <label >Select the user* : </label>
                        <label ></label><br/>
                            <select  name="receveur" class="col-md-4 form-control" ngModel="">
                                <option>Select</option>
                                <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                            </select>
                        <label ></label><br/>
                        <button type="submit" class="btn btn-primary btn-block mb-4 col-md-4">
                            Send your Friend Request
                        </button>
            </form>
        </div>
        <div class="col" class="brd">
            <form class="col" #connect="ngForm" (ngSubmit)="CreateFriendRequest(connect.value)">
                <label >Select the user* : </label>
                <label ></label><br/>
                    <select  name="receveur" class="col-md-4 form-control" ngModel="">
                        <option>Select</option>
                        <option *ngFor="let u of alluser" [ngValue]="u"> {{u.login}}</option>
                    </select>
                <label ></label><br/>
                <button class="col-sm-4" type="submit" class="btn btn-primary btn-block mb-4 col-md-4">
                    Send your Friend Request
                </button>
            </form>
        </div>
    </div>
</div>
</section>
-->
