<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1> <br> <br> Event review</h1>

            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">


                <img src="http://api.park-gorkogo.com/storage/gallery/145/regular_preview_picture-3c291bf33d4002b149ff55e671dd7bfc.jpg" class="img-fluid" />
    
                    <a href="#!">
    
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    
                    </a>

            </div>

            <p> DATA : Title</p>

        </div>

        <div class="col-md-6">

            <p> DATA : Date</p>
            <p> DATA : Title</p>
            <p> DATA : Location</p>
            <p> DATA : Title</p>
            <p> DATA : Public or private</p>
            <p> DATA : Description</p>
            <p> DATA : Organizer ??</p>
            <p> DATA : Members intersted in</p>


        </div>

        



    </div>

    <div>
        <form>
            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                <button type="button" class="btn btn-lg btn-block white-text" routerLink="/delete-confirmation"> <b>Delete Event</b></button>
            </div>
        </form>

    </div>






</section>