<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1><b>ready to create your own event?<br><br></b>    </h1>
            </div>


            <div class="col-md-6">

                <form>
                    <!-- Nom -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Name</label>
                        <input type="text" name="nom" class="form-control" />
                    </div>

                    <!-- Date -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Date</label>
                        <input type="date" name="date" class="form-control" />
                    </div>

                    <!-- Lieu -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Adress</label>
                        <input type="text" name="lieu" class="form-control" />
                    </div>

                    <!-- Choix privat/public -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Type</label> 
                        <br>               
                        <input type="radio"  id="private" name="private" value="private" checked>
                        <label for="private">Private</label>
                        <input type="radio"  id="public" name="public" value="public" checked>
                        <label for="public">Public</label>                                               


                    </div>


                    <!-- Droit image -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">image release</label> 
                        <br>               
                        <input type="radio"  id="ok" name="ok" value="ok" checked>
                        <label for="ok">Ok</label>
                        <input type="radio"  id="nok" name="nok" value="nok" checked>
                        <label for="nok">Nok</label>                                               


                    </div>







                </form>



            </div>


            <div class="col-md-6">


                
            </div>






        </div>




    </div>








</section>