/* You can add global styles to this file, and also import other style files */

.lien-active{
    color: darkgrey;
    font-weight: bold;
    font-size: x-large;
}

h1 {
    font-weight: bold;
    font-size:50px;
    text-align :center;
}


h2 {
    font-weight: bold;
    font-size:30px;
    text-align :center;
}

h3 {
    font-weight: bold;
    font-size:20px;
    
}

a{
    color: rgb(255, 255, 255);
    font-weight: bold
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
