<section class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="py-5 h-100">
                <div class="row d-flex ali gn-items-center justify-content-center h-100">
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <h1 text-align="center">HOME <br><br></h1>
                        <form>
                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block white-text" type="button"><b>Log in</b></button>
                            </div>


                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block white-text"><b>Sign in</b></button>

                            </div>

                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <a  class="btn btn-lg btn-block white-text" routerLink="help" > Help

                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <br><br>
            <table class="table">
                <thead style="background-color: #3a86dd; ">
                    <tr>
                        <th class="white-text">C1</th>
                        <th class="white-text">C2</th>
                        <th class="white-text">C3</th>
                        <th class="white-text">C4</th>

                    </tr>
                    <!--

                    <tr *ngFor="Event">
                        <td>{{m.C1}}</td>
                        <td>{{m.C2}}</td>
                        <td>{{m.C3}}</td>
                        <td>{{m.C4}}</td>
                    </tr>

                    -->


                </thead>
            </table>



        </div>
    </div>


    <!-- Register buttons -->
    <div class="text-center">
        <p>Follow us !</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>




<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error optio dolores, reprehenderit labore sapiente alias sed possimus id inventore quod eos repudiandae doloremque ratione esse, dicta, ex dolorum voluptate.</div>
</section>

