<section class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="py-5 h-100">
                <div class="row d-flex ali gn-items-center justify-content-center h-100">
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <h1 text-align="center">HOME <br><br></h1>
                        <form>
                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <button class="btn btn-lg btn-block white-text" type="button" routerLink="/login"><b>Log in</b></button>
                            </div>


                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <button type="button" class="btn btn-lg btn-block white-text" routerLink="/register"><b>Sign in</b></button>
                            </div>

                            <div style="background-color: #3a86dd;" class="pt-1 mb-4">
                                <button type="button" class="btn btn-lg btn-block white-text" routerLink="/help"> <b>Help</b> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-sm-2">
                <br><br>
        
                <div class="card" height=3>

                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        
                        <img src="https://www.servigroup.com/assets/cache/uploads/cadena/destinos/benicasim/fotos-web/festivales/340x340/san-san-festival.jpg" class="img-fluid" />
        
                        <a href="#!">
        
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        
                        </a>
        
                    </div>

                        
                    <div class="card-body">

                        <h5 class="card-title">{{listevent[0].title}}</h5>

                        <p class="card-text">> {{listevent[0].dateEvent}}</p>

                        <a href="#!" class="btn btn-primary">I'm in!</a>

                    </div>

                </div>
            </div>

                <div class="col-sm-2">
                    <br><br>
                    <div class="card" height=3>

                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/1f/c6/5a/open-air-cinema-kamari.jpg?w=1200&h=1200&s=1" class="img-fluid" />
            
                            <a href="#!">
            
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            
                            </a>
            
                        </div>

                        <div class="card-body">

                            <h5 class="card-title">{{listevent[1].title}}</h5>

                            <p class="card-text">> {{listevent[1].dateEvent}}</p>
    
                            <a href="#!" class="btn btn-primary">I'm in!</a>
    
                        </div>


                    </div>

                </div>

                <!-- EVENT N3-->

                <div class="col-sm-2">
                    <br><br>
                    <div class="card" height=3>

                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            
                            <img src="https://www.marciatack.fr/wp-content/uploads/2016/07/apero-fille-e1467905528505.jpg" class="img-fluid" />
            
                            <a href="#!">
            
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            
                            </a>
            
                        </div>

                        <div class="card-body">

                            <h5 class="card-title">{{listevent[2].title}}</h5>

                            <p class="card-text">> {{listevent[2].dateEvent}}</p>
    
                            <a href="#!" class="btn btn-primary">I'm in!</a>
    
                        </div>


                    </div>

                </div>

        
          


                <!--
                     <table class="table">
                        <thead style="background-color: #3a86dd; ">
                            <tr>
                            <th class="white-text">C1</th>
                            <th class="white-text">C2</th>
                            <th class="white-text">C3</th>
                            <th class="white-text">C4</th>

                            </tr>
                    

                            <tr *ngFor="Event">
                            <td>{{m.C1}}</td>
                            <td>{{m.C2}}</td>
                            <td>{{m.C3}}</td>
                            <td>{{m.C4}}</td>
                            </tr>

                    


                        </thead>
                    </table>
                -->



        
    </div>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Follow us !</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>

</section>

