<section>
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h1>
                    <b>REGISTER<br><br></b>
                </h1>
                    <form #connect="ngForm" (ngSubmit)="register(connect.value)">
                        <div *ngIf="msgErr != ''" class="alert alert-danger text-center" >
                            {{msgErr}}
                        </div>
                        <!-- login input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="login" type="text" id="login-input" class="form-control" required/>
                            <label class="form-label" for="">Login *</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name = "mail" type="mail" id="" class="form-control" required/>
                            <label class="form-label" for="">Email address *</label>
                        </div>
                     
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name ="password" type="password" id="password" class="form-control" required />
                            <label class="form-label" for="">Password *</label>
                        </div>

                        <!-- Confirm Password input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="confirm_password" type="password" id="confirm_password" class="form-control" required/>
                            <label class="form-label" for="">Confirm password * </label>
                        </div>

                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="name" type="text" id="name" class="form-control" required />
                            <label class="form-label" for="">Name *</label>
                        </div>

                        <!--Surname input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="surname" type="text" id="surname" class="form-control" required />
                            <label class="form-label" for="">Surname *</label>
                        </div>

                        <!--Birthdate input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="birthdate" type="date" id="birthdate" class="form-control" />
                            <label class="form-label" for="">Birth date</label>
                        </div>
                        <!--Phone input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="phone" type="text" id="phone" class="form-control" />
                            <label class="form-label" for="">Phone</label>
                        </div>
                        <!--zip input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="zipCode" type="text" id="zip" class="form-control" />
                            <label class="form-label" for="">Zip code</label>
                        </div>
                        <!--Town input -->
                        <div class="form-outline mb-4">
                            <input ngModel="" name="town" type="text" id="town" class="form-control" />
                            <label class="form-label" for="">Town</label>
                        </div>
                        <!--Descrption input 
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Descrption</span>
                            </div>
                            <textarea  name="Descrption" ngModel="" class="form-control" aria-label="Descrption"></textarea>
                        </div>
                        <br>
                        <br>-->
                    
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
                    </form>
            </div>
        </div>
    </div>
</section>